@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua.woff2') format('woff2'),
        url('Perpetua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua-Bold.woff2') format('woff2'),
        url('Perpetua-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua-BoldItalic.woff2') format('woff2'),
        url('Perpetua-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua-Italic.woff2') format('woff2'),
        url('Perpetua-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.woff2') format('woff2'),
        url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'),
        url('Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.woff2') format('woff2'),
        url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
        url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.woff2') format('woff2'),
        url('Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcLEE';
    src: url('AvantGarGotItcLEE-DemiObli.woff2') format('woff2'),
        url('AvantGarGotItcLEE-DemiObli.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcLEE';
    src: url('AvantGarGotItcLEE-Demi.woff2') format('woff2'),
        url('AvantGarGotItcLEE-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcLEE';
    src: url('AvantGarGotItcLEE-BookObli.woff2') format('woff2'),
        url('AvantGarGotItcLEE-BookObli.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcLEE';
    src: url('AvantGarGotItcLEE-Book.woff2') format('woff2'),
        url('AvantGarGotItcLEE-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEE';
    src: url('AvantGardeGothicItcTEE-BoldOblique.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEE';
    src: url('AvantGardeGothicItcTEE-Bold.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEE';
    src: url('AvantGardeGothicItcTEE-BookOblique.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-BookOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEE';
    src: url('AvantGardeGothicItcTEE-Book.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEECon';
    src: url('AvantGardeGothicItcTEE-BoldCondensed.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEECon';
    src: url('AvantGardeGothicItcTEE-BookCondensed.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-BookCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEDem';
    src: url('AvantGardeGothicItcTEE-DemiOblique.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-DemiOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEDem';
    src: url('AvantGardeGothicItcTEE-Demi.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-Demi.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEDemCon';
    src: url('AvantGardeGothicItcTEE-DemiCondensed.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-DemiCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEExtLig';
    src: url('AvantGardeGothicItcTEE-ExtraLight.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEMed';
    src: url('AvantGardeGothicItcTEE-MediumOblique.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEMed';
    src: url('AvantGardeGothicItcTEE-Medium.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarGotItcTEEMedCon';
    src: url('AvantGardeGothicItcTEE-MediumCondensed.woff2') format('woff2'),
        url('AvantGardeGothicItcTEE-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dozed Stamp';
    src: url('DozedStamp-Regular.woff2') format('woff2'),
        url('DozedStamp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OzHandicraft BT';
    src: url('OzHandicraftBT-Roman.woff2') format('woff2'),
        url('OzHandicraftBT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zurich LtXCn BT';
    src: url('ZurichBT-LightExtraCondensed.woff2') format('woff2'),
        url('ZurichBT-LightExtraCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

