/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
  background: var(--primary-color);
  color: #ffffff;
  position: relative;
}

.site-header__top {
  padding: 4px 0;
  display: grid;
  grid-template-columns: 112px auto 115px;
  align-items: center;
  gap: 16px;
}

.site-header__contact {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 0;
}

.site-header__contact-mobile {
  display: none;
}

.site-header__phone {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fbf6ea;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  padding: 8px 10px 8px 0px;
  border-right: 1px solid #618e91;
}

.site-header__social {
  display: flex;
  align-items: center;
  gap: 14px;
}

.social-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.social-icon svg {
  width: 100%;
  height: 100%;
}

.site-header__logo {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.site-header__logo span {
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
  color: var(--yellow-color);
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: block;
  letter-spacing: 3px;
}
.site-header__cta {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* --- Main navigation --- */
.site-nav ul {
  /* padding: 22px 0 13px 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.site-nav ul li {
  position: relative;
}

.site-nav ul li a {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: block;
  position: relative;
  padding: 6px 0;
}
@media (min-width: 1200px) {
  .site-nav ul li a {
    font-size: 13px;
  }
}
.site-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.site-nav ul li a:hover::after,
.site-nav ul li a.site-nav__link--active::after {
  transform: scaleX(1);
}
.site-nav ul li a:hover,
.site-nav ul li a.site-nav__link--active {
  color: var(--yellow-color);
}
.hero-section img {
  width: 100%;
}

.hotel-intro__media {
  position: relative;
}

.hotel-intro__stamp {
  position: absolute;
  bottom: -56px;
  left: -30px;
  overflow: hidden;
}

.hotel-intro__stamp img {
  border-radius: 50%;
}

.hotel-intro__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.hotel-intro__media {
  width: 45.47%;
}

.hotel-intro__content {
  flex: 1 0 0;
}

.hotel-intro__title {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #173f3c;
  font-family: "Perpetua";
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.hotel-intro__text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
}

.hotel-intro {
  background: #f2eddf;
  padding-top: 63px;
}

.hotel-intro__content .btn {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #f2eddf;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: 30px;
  padding: 6.5px 40.5px;
}

.hotel-intro__grid--reverse .hotel-intro__media {
  order: 2;
}

.hotel-intro__grid--reverse {
  justify-content: space-between;
}

.hotel-intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: 95px;
}

.brand-showcase {
  background: #f2eddf;
}

.brand-showcase__logo img {
  display: block;
  margin: 0 auto;
}

.brand-showcase__images {
  display: grid;
  gap: 9px;
  margin-top: 47px;
  grid-template-columns: repeat(2, 1fr);
}

.brand-showcase__image {
  aspect-ratio: 409/290;
}

.brand-showcase__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-intro-bottom .hotel-intro__media {
  width: 49.7%;
}
.hotel-intro__image img {
  width: 100%;
}
.brand-showcase__logo {
  padding-top: 55px;
}

.hotel-intro-bottom .hotel-intro__grid {
  align-items: end;
  gap: 25px;
}

.hotel-intro-bottom {
  padding-top: 42px;
  padding-bottom: 47px;
}

.storefront-showcase {
  position: relative;
}

.storefront-showcase__caption p {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #fdfcfc;
  font-weight: bold;
  font-family: "Perpetua";
  text-align: center;
}

.storefront-showcase__caption {
  position: absolute;
  padding: 0 15px;
  left: 50%;
  bottom: 9.74vw;
  width: 100%;
  transform: translateX(-50%);
}

.newsletter-signup__box {
  margin: 0 auto;
  /* background: #fff; */
  /* border: 1px solid #7f7f7f; */
  max-width: 43.95vw;
  padding: 13px 11px;
}
@media (max-width: 767px) {
  .newsletter-signup__box {
    max-width: 100%;
  }
}
.newsletter-signup__title {
  font-size: 45px;
  letter-spacing: 0px;
  line-height: 45px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-family: "Perpetua";
  text-align: center;
  text-align: center;
}

.newsletter-signup__subtitle {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: normal;
  color: #6c6969;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 29px;
}

.newsletter-signup {
  padding: 3.03vw 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-signup__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 5px;
  margin-bottom: 13px;
}

.newsletter-signup__field {
  width: calc(50% - 2.5px);
}

.newsletter-signup__field--full {
  width: 100%;
}

.newsletter-signup__field input {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 45px;
  font-weight: 400;
  font-family: "Roboto";
  border: 1px solid #828282;
  padding: 0 13px;
  color: #000;
}

.newsletter-signup__field input::placeholder {
  color: #8c8c8c;
}

.newsletter-signup__button {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  background: #0d2927;
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.newsletter-signup__button:hover {
  color: #0d2927;
  border: 1px solid #0d2927;
  background: #ffffff;
}

.contact-strip-wrap {
  padding: 62px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contact-strip__item span {
  display: block;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #161819;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}

.contact-strip__item--brand span {
  font-size: 33px;
  letter-spacing: 2px;
  line-height: normal;
  text-transform: uppercase;
  color: #232323;
  font-family: "AvantGarGotItcTEE";
  text-align: center;
  font-weight: bold;
}

.contact-strip {
  background: #f2eddf;
}

.site-footer {
  padding: 24px 0;
  background-color: var(--primary-color);
  background-position: right 5.86vw bottom 1.95vw;
  background-repeat: no-repeat;
  background-image: url("../images/bg-footer-removebg-preview.png");
}

.site-footer__nav ul {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  list-style: none;
  flex-direction: column;
}

.site-footer__nav ul li a {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.site-footer__address {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: normal;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: 8px;
}

.site-footer__social {
  justify-content: flex-start;
}

.site-footer__nav {
}

.hambuger-mobile {
  display: none;
}
@media (max-width: 1200px) {
.hotel-intro__stamp{

    left: -15px;
}
}
@media (max-width: 992px) {
  .hambuger-mobile {
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 1;

    display: block;
    transform: translateY(-50%);
  }

  .lines {
    width: 25px;
    height: 3px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition:
      transform 200ms,
      -webkit-transform 200ms;
  }

  .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }

  .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }

  .hambuger-mobile.exit .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hambuger-mobile.exit .line-2 {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }

  .hambuger-mobile.exit .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .site-nav {
    display: none;
  }

  .site-header .site-header__contact {
    display: none;
  }

  .site-header__top {
    grid-template-columns: 112px auto;
  }

  .site-header__cta {
    padding-right: 40px;
  }

  .site-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100dvh - 81px);
    background: var(--primary-color);
    z-index: 1;
    border-top: 1px solid #000;
  }

  .site-nav ul {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 12px;
  }

  .site-header__contact-mobile {
    display: flex !important;
    justify-content: center;
  }

  .hotel-intro__stamp {
    left: -15px;
    overflow: hidden;
    width: 100px;
    bottom: -30px;
  }
}

@media (max-width: 767px) {
  .site-header__cta .btn {
    display: none;
  }

  .contact-strip-wrap {
    flex-direction: column;
    gap: 8px;
  }

  .hotel-intro__media {
    width: 100% !important;
    order: -1 !important;
  }
  .hotel-intro-bottom .hotel-intro__media {
    order: 2 !important;
  }
  .hotel-intro__wrapper {
    gap: 45px;
  }

  .brand-showcase__images {
    grid-template-columns: 1fr;
  }

  .storefront-showcase__caption {
    /* bottom: 18px; */
  }

  .storefront-showcase__caption p {
    font-size: 16px;
    line-height: normal;
  }

  .newsletter-signup__title {
    font-size: 32px;
    line-height: normal;
  }

  .newsletter-signup__field {
    width: 100%;
  }

  .site-footer__nav ul {
    /* gap: 0 12px; */
  }

  .site-footer__nav {
    /* margin-bottom: 18px; */
  }

  .site-header__logo {
    max-width: 120px;
  }

  .site-nav {
    height: calc(100dvh - 91.63px);
  }
}

/* New Footer */
.site-footer__row {
  display: grid;
  grid-template-columns: 0.3fr auto 0.4fr;
  margin-bottom: 25px;
  gap: 50px;
}
.site-footer__brand {
}
.site-footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  position: relative;
}
.site-footer__menu::after,
.site-footer__menu::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.site-footer__menu::after {
  right: -25px;
}
.site-footer__menu::before {
  left: -25px;
}
.site-footer__wrap-menu {
  margin: 10px 0 0;
}
.site-footer__about {
}
.site-footer__brand .site-header__logo {
  justify-content: center;
  align-items: flex-start;
  width: 112px;
}
.site-footer__phone {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  color: var(--yellow-color);
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}
.site-footer__nav-heading {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  color: var(--yellow-color);
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
}
.site-footer__bottom .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.site-footer__bottom p,
.site-footer__bottom a,
.site-footer__bottom span {
  margin-bottom: 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}
.site-footer__bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.site-footer__about-text {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Roboto";
  max-width: 248px;
}
.site-footer__about-highlight {
  color: var(--yellow-color);
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1.7;
  font-weight: 700;
  font-family: "Roboto";
}
.site-footer__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .site-footer {
    background-size: 11%;
    background-position: right 1.95vw bottom 1.95vw;
  }
  .site-footer__row {
    display: grid;
    grid-template-columns: 0.3fr auto 0.6fr;
  }
}
@media (max-width: 1023px) {
  .site-footer {
    background-size: 11%;
    background-position: right 1.95vw bottom 1.95vw;
  }
  .site-footer__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .site-footer__menu::after,
  .site-footer__menu::before {
    display: none;
  }
  .site-footer__brand {
    width: 100%;
  }
  .site-footer__menu {
    flex: 1 0 0;
  }
  .newsletter-signup__box {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .site-footer__menu {
    grid-template-columns: 1fr;
  }
  .site-footer__bottom .container {
    flex-wrap: wrap;
    gap: 10px;
  }
  .site-footer__brand {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-footer__address {
    margin-top: 8px;
  }
  .site-footer__brand .site-header__logo {
    justify-content: center;
  }
  .site-footer__menu {
    flex: auto;
    width: 100%;
  }.site-footer__about-text{
    max-width: 100%;
  }
}
