/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
  background: var(--primary-color);
  color: #ffffff;
  position: relative;
}

.site-header__top {
  padding: max(4px, 0.3906vw) 0;
  display: grid;
  grid-template-columns: max(112px, 10.9375vw) auto max(115px, 11.2305vw);
  align-items: center;
  gap: max(16px, 1.5625vw);
}

.site-header__contact {
  display: flex;
  align-items: center;
  gap: max(16px, 1.5625vw);
  min-width: 0;
}

.site-header__contact-mobile {
  display: none;
}

.site-header__phone {
  font-size: max(13px, 1.2695vw);
  letter-spacing: 0;
  line-height: max(12px, 1.1719vw);
  text-transform: uppercase;
  color: #fbf6ea;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  padding: max(8px, 0.7812vw) max(10px, 0.9766vw) max(8px, 0.7812vw) 0;
  border-right: max(1px, 0.0977vw) solid #618e91;
}

.site-header__social {
  display: flex;
  align-items: center;
  gap: max(14px, 1.3672vw);
}

.social-icon {
  width: max(20px, 1.9531vw);
  height: max(20px, 1.9531vw);
  display: block;
}

.social-icon svg {
  width: 100%;
  height: 100%;
}

.site-header__logo {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.site-header__logo span {
  font-size: max(10px, 0.9766vw);
  line-height: normal;
  text-transform: uppercase;
  color: var(--yellow-color);
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: block;
  letter-spacing: max(3px, 0.293vw);
}
.site-header__cta {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* --- Main navigation --- */
.site-nav ul {
  /* padding: max(22px, 2.1484vw) 0 max(13px, 1.2695vw) 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: max(30px, 2.9297vw);
  list-style: none;
}

.site-nav ul li {
  position: relative;
}

.site-nav ul li a {
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: max(12px, 1.1719vw);
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: block;
  position: relative;
  padding: max(6px, 0.5859vw) 0;
}
@media (min-width: 1200px) {
  .site-nav ul li a {
    font-size: max(13px, 1.2695vw);
  }
}
.site-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: max(1px, 0.0977vw);
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.site-nav ul li a:hover::after,
.site-nav ul li a.site-nav__link--active::after {
  transform: scaleX(1);
}
.site-nav ul li a:hover,
.site-nav ul li a.site-nav__link--active {
  color: var(--yellow-color);
}
.hero-section img {
  width: 100%;
}

.hotel-intro__media {
  position: relative;
}

.hotel-intro__stamp {
  position: absolute;
  bottom: min(-56px, -5.4688vw);
   left: min(-15px, -1.4648vw);
  overflow: hidden;
}

.hotel-intro__stamp img {
  border-radius: 50%;
}

.hotel-intro__grid {
  display: flex;
  flex-wrap: wrap;
  gap: max(35px, 3.418vw);
}

.hotel-intro__media {
  width: 45.47%;
}

.hotel-intro__content {
  flex: 1 0 0;
}

.hotel-intro__title {
  font-size: max(30px, 2.9297vw);
  letter-spacing: 0;
  line-height: max(30px, 2.9297vw);
  color: #173f3c;
  font-family: "Perpetua";
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: max(19px, 1.8555vw);
}

.hotel-intro__text {
  font-size: max(14px, 1.3672vw);
  letter-spacing: 0;
  line-height: max(22px, 2.1484vw);
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
}

.hotel-intro {
  background: #f2eddf;
  padding-top: max(63px, 6.1523vw);
}

.hotel-intro__content .btn {
  font-size: max(16px, 1.5625vw);
  letter-spacing: 0;
  line-height: max(26px, 2.5391vw);
  color: #f2eddf;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: max(30px, 2.9297vw);
  padding: max(6.5px, 0.6348vw) max(40.5px, 3.9551vw);
}

.hotel-intro__grid--reverse .hotel-intro__media {
  order: 2;
}

.hotel-intro__grid--reverse {
  justify-content: space-between;
}

.hotel-intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: max(95px, 9.2773vw);
}

.brand-showcase {
  background: #f2eddf;
}

.brand-showcase__logo img {
  display: block;
  margin: 0 auto;
}

.brand-showcase__images {
  display: grid;
  gap: max(9px, 0.8789vw);
  margin-top: max(47px, 4.5898vw);
  grid-template-columns: repeat(2, 1fr);
}

.brand-showcase__image {
  aspect-ratio: 409/290;
}

.brand-showcase__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-intro-bottom .hotel-intro__media {
  width: 49.7%;
}
.hotel-intro__image img {
  width: 100%;
}
.brand-showcase__logo {
  padding-top: max(55px, 5.3711vw);
}

.hotel-intro-bottom .hotel-intro__grid {
  align-items: end;
  gap: max(25px, 2.4414vw);
}

.hotel-intro-bottom {
  padding-top: max(42px, 4.1016vw);
  padding-bottom: max(47px, 4.5898vw);
}

.storefront-showcase {
  position: relative;
}

.storefront-showcase__caption p {
  font-size: max(30px, 2.9297vw);
  letter-spacing: 0;
  line-height: max(30px, 2.9297vw);
  color: #fdfcfc;
  font-weight: bold;
  font-family: "Perpetua";
  text-align: center;
}

.storefront-showcase__caption {
  position: absolute;
  padding: 0 max(15px, 1.4648vw);
  left: 50%;
  bottom: 9.74vw;
  width: 100%;
  transform: translateX(-50%);
}

.newsletter-signup__box {
  margin: 0 auto;
  /* background: #fff; */
  /* border: max(1px, 0.0977vw) solid #7f7f7f; */
  max-width: 43.95vw;
  padding: max(13px, 1.2695vw) max(11px, 1.0742vw);
}
@media (max-width: 767px) {
  .newsletter-signup__box {
    max-width: 100%;
  }
}
.newsletter-signup__title {
  font-size: max(45px, 4.3945vw);
  letter-spacing: 0;
  line-height: max(45px, 4.3945vw);
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-family: "Perpetua";
  text-align: center;
  text-align: center;
}

.newsletter-signup__subtitle {
  font-size: max(11px, 1.0742vw);
  letter-spacing: 0;
  line-height: normal;
  color: #6c6969;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: max(29px, 2.832vw);
}

.newsletter-signup {
  padding: 3.03vw 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-signup__fields {
  display: flex;
  flex-wrap: wrap;
  gap: max(11px, 1.0742vw) max(5px, 0.4883vw);
  margin-bottom: max(13px, 1.2695vw);
}

.newsletter-signup__field {
  width: calc(50% - max(2.5px, 0.2441vw));
}

.newsletter-signup__field--full {
  width: 100%;
}

.newsletter-signup__field input {
  width: 100%;
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: max(45px, 4.3945vw);
  font-weight: 400;
  font-family: "Roboto";
  border: max(1px, 0.0977vw) solid #828282;
  padding: 0 max(13px, 1.2695vw);
  color: #000;
}

.newsletter-signup__field input::placeholder {
  color: #8c8c8c;
}

.newsletter-signup__button {
  font-size: max(14px, 1.3672vw);
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  background: #0d2927;
  width: 100%;
  text-transform: uppercase;
  padding: max(15px, 1.4648vw);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: max(1px, 0.0977vw) solid transparent;
}

.newsletter-signup__button:hover {
  color: #0d2927;
  border: max(1px, 0.0977vw) solid #0d2927;
  background: #ffffff;
}

.contact-strip-wrap {
  padding: max(62px, 6.0547vw) 0 max(10px, 0.9766vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: max(20px, 1.9531vw);
}

.contact-strip__item span {
  display: block;
  font-size: max(14px, 1.3672vw);
  letter-spacing: 0;
  line-height: max(30px, 2.9297vw);
  color: #161819;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}

.contact-strip__item--brand span {
  font-size: max(33px, 3.2227vw);
  letter-spacing: max(2px, 0.1953vw);
  line-height: normal;
  text-transform: uppercase;
  color: #232323;
  font-family: "AvantGarGotItcTEE";
  text-align: center;
  font-weight: bold;
}

.contact-strip {
  background: #f2eddf;
}

.site-footer {
  padding: max(24px, 2.3438vw) 0;
  background-color: var(--primary-color);
  background-position: right 5.86vw bottom 1.95vw;
  background-repeat: no-repeat;
  background-image: url("../images/bg-footer-removebg-preview.png");
}

.site-footer__nav ul {
  display: flex;
  align-items: flex-start;
  gap: max(4px, 0.3906vw);
  list-style: none;
  flex-direction: column;
}

.site-footer__nav ul li a {
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.site-footer__address {
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: normal;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: max(8px, 0.7812vw);
}

.site-footer__social {
  justify-content: flex-start;
}

.site-footer__nav {
}

.hambuger-mobile {
  display: none;
}
@media (max-width: 1200px) {
.hotel-intro__stamp{

    left: min(-15px, -1.4648vw);
}
}
@media (max-width: 992px) {
  .hambuger-mobile {
    position: absolute;
    right: max(15px, 1.4648vw);
    top: 50%;
    z-index: 1;

    display: block;
    transform: translateY(-50%);
  }

  .lines {
    width: max(25px, 2.4414vw);
    height: max(3px, 0.293vw);
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: min(-12.5px, -1.2207vw);
    margin-top: min(-1.5px, -0.1465vw);
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition:
      transform 200ms,
      -webkit-transform 200ms;
  }

  .line-1 {
    -webkit-transform: translate3d(0, min(-8px, -0.7812vw), 0);
    transform: translate3d(0, min(-8px, -0.7812vw), 0);
  }

  .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .line-3 {
    -webkit-transform: translate3d(0, max(8px, 0.7812vw), 0);
    transform: translate3d(0, max(8px, 0.7812vw), 0);
  }

  .hambuger-mobile.exit .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hambuger-mobile.exit .line-2 {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }

  .hambuger-mobile.exit .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .site-nav {
    display: none;
  }

  .site-header .site-header__contact {
    display: none;
  }

  .site-header__top {
    grid-template-columns: max(112px, 10.9375vw) auto;
  }

  .site-header__cta {
    padding-right: max(40px, 3.9062vw);
  }

  .site-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100dvh - max(81px, 7.9102vw));
    background: var(--primary-color);
    z-index: 1;
    border-top: max(1px, 0.0977vw) solid #000;
  }

  .site-nav ul {
    flex-direction: column;
    align-items: center;
    padding: max(24px, 2.3438vw);
    gap: max(12px, 1.1719vw);
  }

  .site-header__contact-mobile {
    display: flex !important;
    justify-content: center;
  }

  .hotel-intro__stamp {
    left: min(-15px, -1.4648vw);
    overflow: hidden;
    width: max(100px, 9.7656vw);
    bottom: min(-30px, -2.9297vw);
  }
}

@media (max-width: 767px) {
  .site-header__cta .btn {
    display: none;
  }

  .contact-strip-wrap {
    flex-direction: column;
    gap: max(8px, 0.7812vw);
  }

  .hotel-intro__media {
    width: 100% !important;
    order: -1 !important;
  }
  .hotel-intro-bottom .hotel-intro__media {
    order: 2 !important;
  }
  .hotel-intro__wrapper {
    gap: max(45px, 4.3945vw);
  }

  .brand-showcase__images {
    grid-template-columns: 1fr;
  }

  .storefront-showcase__caption {
    /* bottom: max(18px, 1.7578vw); */
  }

  .storefront-showcase__caption p {
    font-size: max(16px, 1.5625vw);
    line-height: normal;
  }

  .newsletter-signup__title {
    font-size: max(32px, 3.125vw);
    line-height: normal;
  }

  .newsletter-signup__field {
    width: 100%;
  }

  .site-footer__nav ul {
    /* gap: 0 max(12px, 1.1719vw); */
  }

  .site-footer__nav {
    /* margin-bottom: max(18px, 1.7578vw); */
  }

  .site-header__logo {
    max-width: max(120px, 11.7188vw);
  }

  .site-nav {
    height: calc(100dvh - max(91.63px, 8.9482vw));
  }
}

/* New Footer */
.site-footer__row {
  display: grid;
  grid-template-columns: 0.3fr auto 0.4fr;
  margin-bottom: max(25px, 2.4414vw);
  gap: max(50px, 4.8828vw);
}
.site-footer__brand {
}
.site-footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: max(12px, 1.1719vw);
  position: relative;
}
.site-footer__menu::after,
.site-footer__menu::before {
  position: absolute;
  content: "";
  height: max(100px, 9.7656vw);
  width: max(1px, 0.0977vw);
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.site-footer__menu::after {
  right: min(-25px, -2.4414vw);
}
.site-footer__menu::before {
  left: min(-25px, -2.4414vw);
}
.site-footer__wrap-menu {
  margin: max(10px, 0.9766vw) 0 0;
}
.site-footer__about {
}
.site-footer__brand .site-header__logo {
  justify-content: center;
  align-items: flex-start;
  width: max(112px, 10.9375vw);
}
.site-footer__phone {
  font-size: max(14px, 1.3672vw);
  letter-spacing: 0;
  line-height: max(30px, 2.9297vw);
  color: var(--yellow-color);
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}
.site-footer__nav-heading {
  font-size: max(14px, 1.3672vw);
  letter-spacing: 0;
  line-height: max(30px, 2.9297vw);
  color: var(--yellow-color);
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
}
.site-footer__bottom .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(30px, 2.9297vw);
}
.site-footer__bottom p,
.site-footer__bottom a,
.site-footer__bottom span {
  margin-bottom: 0;
  color: #fff;
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}
.site-footer__bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(18px, 1.7578vw);
}
.site-footer__about-text {
  color: #fff;
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Roboto";
  max-width: max(248px, 24.2188vw);
}
.site-footer__about-highlight {
  color: var(--yellow-color);
  font-size: max(12px, 1.1719vw);
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: 700;
  font-family: "Roboto";
}
.site-footer__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .site-footer {
    background-size: 11%;
    background-position: right 1.95vw bottom 1.95vw;
  }
  .site-footer__row {
    display: grid;
    grid-template-columns: 0.3fr auto 0.6fr;
  }
}
@media (max-width: 1023px) {
  .site-footer {
    background-size: 11%;
    background-position: right 1.95vw bottom 1.95vw;
  }
  .site-footer__row {
    display: flex;
    flex-wrap: wrap;
    gap: max(20px, 1.9531vw);
  }
  .site-footer__menu::after,
  .site-footer__menu::before {
    display: none;
  }
  .site-footer__brand {
    width: 100%;
  }
  .site-footer__menu {
    flex: 1 0 0;
  }
  .newsletter-signup__box {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .site-footer__menu {
    grid-template-columns: 1fr;
  }
  .site-footer__bottom .container {
    flex-wrap: wrap;
    gap: max(10px, 0.9766vw);
  }
  .site-footer__brand {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-footer__address {
    margin-top: max(8px, 0.7812vw);
  }
  .site-footer__brand .site-header__logo {
    justify-content: center;
  }
  .site-footer__menu {
    flex: auto;
    width: 100%;
  }.site-footer__about-text{
    max-width: 100%;
  }
}