/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
  background: var(--primary-color);
  color: #ffffff;
  position: relative;
}

.site-header__top {
  padding: clamp(4px, 0.3906vw, 5.625px) 0;
  display: grid;
  grid-template-columns: clamp(112px, 10.9375vw, 157.5px) auto clamp(115px, 11.2305vw, 161.7188px);
  align-items: center;
  gap: clamp(16px, 1.5625vw, 22.5px);
}

.site-header__contact {
  display: flex;
  align-items: center;
  gap: clamp(16px, 1.5625vw, 22.5px);
  min-width: 0;
}

.site-header__contact-mobile {
  display: none;
}

.site-header__phone {
  font-size: clamp(13px, 1.2695vw, 18.2812px);
  letter-spacing: 0;
  line-height: clamp(12px, 1.1719vw, 16.875px);
  text-transform: uppercase;
  color: #fbf6ea;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  padding: clamp(8px, 0.7812vw, 11.25px) clamp(10px, 0.9766vw, 14.0625px) clamp(8px, 0.7812vw, 11.25px) 0;
  border-right: clamp(1px, 0.0977vw, 1.4062px) solid #618e91;
}

.site-header__social {
  display: flex;
  align-items: center;
  gap: clamp(14px, 1.3672vw, 19.6875px);
}

.social-icon {
  width: clamp(20px, 1.9531vw, 28.125px);
  height: clamp(20px, 1.9531vw, 28.125px);
  display: block;
}

.social-icon svg {
  width: 100%;
  height: 100%;
}

.site-header__logo {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.site-header__logo span {
  font-size: clamp(10px, 0.9766vw, 14.0625px);
  line-height: normal;
  text-transform: uppercase;
  color: var(--yellow-color);
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: block;
  letter-spacing: clamp(3px, 0.293vw, 4.2188px);
}
.site-header__cta {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* --- Main navigation --- */
.site-nav ul {
  /* padding: clamp(22px, 2.1484vw, 30.9375px) 0 clamp(13px, 1.2695vw, 18.2812px) 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(30px, 2.9297vw, 42.1875px);
  list-style: none;
}

.site-nav ul li {
  position: relative;
}

.site-nav ul li a {
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: clamp(12px, 1.1719vw, 16.875px);
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: block;
  position: relative;
  padding: clamp(6px, 0.5859vw, 8.4375px) 0;
}
@media (min-width: 1200px) {
  .site-nav ul li a {
    font-size: clamp(13px, 1.2695vw, 18.2812px);
  }
}
.site-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: clamp(1px, 0.0977vw, 1.4062px);
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.site-nav ul li a:hover::after,
.site-nav ul li a.site-nav__link--active::after {
  transform: scaleX(1);
}
.site-nav ul li a:hover,
.site-nav ul li a.site-nav__link--active {
  color: var(--yellow-color);
}
.hero-section img {
  width: 100%;
}

.hotel-intro__media {
  position: relative;
}

.hotel-intro__stamp {
  position: absolute;
  bottom: clamp(-78.75px, -5.4688vw, -56px);
   left: clamp(-21.0938px, -1.4648vw, -15px);
  overflow: hidden;
}

.hotel-intro__stamp img {
  border-radius: 50%;
}

.hotel-intro__grid {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(35px, 3.418vw, 49.2188px);
}

.hotel-intro__media {
  width: 45.47%;
}

.hotel-intro__content {
  flex: 1 0 0;
}

.hotel-intro__title {
  font-size: clamp(30px, 2.9297vw, 42.1875px);
  letter-spacing: 0;
  line-height: clamp(30px, 2.9297vw, 42.1875px);
  color: #173f3c;
  font-family: "Perpetua";
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: clamp(19px, 1.8555vw, 26.7188px);
}

.hotel-intro__text {
  font-size: clamp(14px, 1.3672vw, 19.6875px);
  letter-spacing: 0;
  line-height: clamp(22px, 2.1484vw, 30.9375px);
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
}

.hotel-intro {
  background: #f2eddf;
  padding-top: clamp(63px, 6.1523vw, 88.5938px);
}

.hotel-intro__content .btn {
  font-size: clamp(16px, 1.5625vw, 22.5px);
  letter-spacing: 0;
  line-height: clamp(26px, 2.5391vw, 36.5625px);
  color: #f2eddf;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: clamp(30px, 2.9297vw, 42.1875px);
  padding: clamp(6.5px, 0.6348vw, 9.1406px) clamp(40.5px, 3.9551vw, 56.9531px);
}

.hotel-intro__grid--reverse .hotel-intro__media {
  order: 2;
}

.hotel-intro__grid--reverse {
  justify-content: space-between;
}

.hotel-intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(95px, 9.2773vw, 133.5938px);
}

.brand-showcase {
  background: #f2eddf;
}

.brand-showcase__logo img {
  display: block;
  margin: 0 auto;
}

.brand-showcase__images {
  display: grid;
  gap: clamp(9px, 0.8789vw, 12.6562px);
  margin-top: clamp(47px, 4.5898vw, 66.0938px);
  grid-template-columns: repeat(2, 1fr);
}

.brand-showcase__image {
  aspect-ratio: 409/290;
}

.brand-showcase__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-intro-bottom .hotel-intro__media {
  width: 49.7%;
}
.hotel-intro__image img {
  width: 100%;
}
.brand-showcase__logo {
  padding-top: clamp(55px, 5.3711vw, 77.3438px);
}

.hotel-intro-bottom .hotel-intro__grid {
  align-items: end;
  gap: clamp(25px, 2.4414vw, 35.1562px);
}

.hotel-intro-bottom {
  padding-top: clamp(42px, 4.1016vw, 59.0625px);
  padding-bottom: clamp(47px, 4.5898vw, 66.0938px);
}

.storefront-showcase {
  position: relative;
}
.storefront-showcase__image img{
    width: 100%;
}
.storefront-showcase__caption p {
  font-size: clamp(30px, 2.9297vw, 42.1875px);
  letter-spacing: 0;
  line-height: clamp(30px, 2.9297vw, 42.1875px);
  color: #fdfcfc;
  font-weight: bold;
  font-family: "Perpetua";
  text-align: center;
}

.storefront-showcase__caption {
  position: absolute;
  padding: 0 clamp(15px, 1.4648vw, 21.0938px);
  left: 50%;
  bottom: 9.74vw;
  width: 100%;
  transform: translateX(-50%);
}

.newsletter-signup__box {
  margin: 0 auto;
  /* background: #fff; */
  /* border: clamp(1px, 0.0977vw, 1.4062px) solid #7f7f7f; */
  max-width: 43.95vw;
  padding: clamp(13px, 1.2695vw, 18.2812px) clamp(11px, 1.0742vw, 15.4688px);
}
@media (max-width: 767px) {
  .newsletter-signup__box {
    max-width: 100%;
  }
}
.newsletter-signup__title {
  font-size: clamp(45px, 4.3945vw, 63.2812px);
  letter-spacing: 0;
  line-height: clamp(45px, 4.3945vw, 63.2812px);
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-family: "Perpetua";
  text-align: center;
  text-align: center;
}

.newsletter-signup__subtitle {
  font-size: clamp(11px, 1.0742vw, 15.4688px);
  letter-spacing: 0;
  line-height: normal;
  color: #6c6969;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: clamp(29px, 2.832vw, 40.7812px);
}

.newsletter-signup {
  padding: 3.03vw 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-signup__fields {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(11px, 1.0742vw, 15.4688px) clamp(5px, 0.4883vw, 7.0312px);
  margin-bottom: clamp(13px, 1.2695vw, 18.2812px);
}

.newsletter-signup__field {
  width: calc(50% - clamp(2.5px, 0.2441vw, 3.5156px));
}

.newsletter-signup__field--full {
  width: 100%;
}

.newsletter-signup__field input {
  width: 100%;
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: clamp(45px, 4.3945vw, 63.2812px);
  font-weight: 400;
  font-family: "Roboto";
  border: clamp(1px, 0.0977vw, 1.4062px) solid #828282;
  padding: 0 clamp(13px, 1.2695vw, 18.2812px);
  color: #000;
}

.newsletter-signup__field input::placeholder {
  color: #8c8c8c;
}

.newsletter-signup__button {
  font-size: clamp(14px, 1.3672vw, 19.6875px);
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  background: #0d2927;
  width: 100%;
  text-transform: uppercase;
  padding: clamp(15px, 1.4648vw, 21.0938px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: clamp(1px, 0.0977vw, 1.4062px) solid transparent;
}

.newsletter-signup__button:hover {
  color: #0d2927;
  border: clamp(1px, 0.0977vw, 1.4062px) solid #0d2927;
  background: #ffffff;
}

.contact-strip-wrap {
  padding: clamp(62px, 6.0547vw, 87.1875px) 0 clamp(10px, 0.9766vw, 14.0625px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(20px, 1.9531vw, 28.125px);
}

.contact-strip__item span {
  display: block;
  font-size: clamp(14px, 1.3672vw, 19.6875px);
  letter-spacing: 0;
  line-height: clamp(30px, 2.9297vw, 42.1875px);
  color: #161819;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}

.contact-strip__item--brand span {
  font-size: clamp(33px, 3.2227vw, 46.4062px);
  letter-spacing: clamp(2px, 0.1953vw, 2.8125px);
  line-height: normal;
  text-transform: uppercase;
  color: #232323;
  font-family: "AvantGarGotItcTEE";
  text-align: center;
  font-weight: bold;
}

.contact-strip {
  background: #f2eddf;
}

.site-footer {
  padding: clamp(24px, 2.3438vw, 33.75px) 0;
  background-color: var(--primary-color);
  background-position: right 5.86vw bottom 1.95vw;
  background-repeat: no-repeat;
  background-image: url("../images/bg-footer-removebg-preview.png");
}

.site-footer__nav ul {
  display: flex;
  align-items: flex-start;
  gap: clamp(4px, 0.3906vw, 5.625px);
  list-style: none;
  flex-direction: column;
}

.site-footer__nav ul li a {
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.site-footer__address {
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: normal;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: clamp(8px, 0.7812vw, 11.25px);
}

.site-footer__social {
  justify-content: flex-start;
}

.site-footer__nav {
}

.hambuger-mobile {
  display: none;
}
@media (max-width: 1200px) {
.hotel-intro__stamp{

    left: clamp(-21.0938px, -1.4648vw, -15px);
}
}
@media (max-width: 992px) {
  .hambuger-mobile {
    position: absolute;
    right: clamp(15px, 1.4648vw, 21.0938px);
    top: 50%;
    z-index: 1;

    display: block;
    transform: translateY(-50%);
  }

  .lines {
    width: clamp(25px, 2.4414vw, 35.1562px);
    height: clamp(3px, 0.293vw, 4.2188px);
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: clamp(-17.5781px, -1.2207vw, -12.5px);
    margin-top: clamp(-2.1094px, -0.1465vw, -1.5px);
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition:
      transform 200ms,
      -webkit-transform 200ms;
  }

  .line-1 {
    -webkit-transform: translate3d(0, clamp(-11.25px, -0.7812vw, -8px), 0);
    transform: translate3d(0, clamp(-11.25px, -0.7812vw, -8px), 0);
  }

  .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .line-3 {
    -webkit-transform: translate3d(0, clamp(8px, 0.7812vw, 11.25px), 0);
    transform: translate3d(0, clamp(8px, 0.7812vw, 11.25px), 0);
  }

  .hambuger-mobile.exit .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hambuger-mobile.exit .line-2 {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }

  .hambuger-mobile.exit .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .site-nav {
    display: none;
  }

  .site-header .site-header__contact {
    display: none;
  }

  .site-header__top {
    grid-template-columns: clamp(112px, 10.9375vw, 157.5px) auto;
  }

  .site-header__cta {
    padding-right: clamp(40px, 3.9062vw, 56.25px);
  }

  .site-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100dvh - clamp(81px, 7.9102vw, 113.9062px));
    background: var(--primary-color);
    z-index: 1;
    border-top: clamp(1px, 0.0977vw, 1.4062px) solid #000;
  }

  .site-nav ul {
    flex-direction: column;
    align-items: center;
    padding: clamp(24px, 2.3438vw, 33.75px);
    gap: clamp(12px, 1.1719vw, 16.875px);
  }

  .site-header__contact-mobile {
    display: flex !important;
    justify-content: center;
  }

  .hotel-intro__stamp {
    left: clamp(-21.0938px, -1.4648vw, -15px);
    overflow: hidden;
    width: clamp(100px, 9.7656vw, 140.625px);
    bottom: clamp(-42.1875px, -2.9297vw, -30px);
  }
}

@media (max-width: 767px) {
  .site-header__cta .btn {
    display: none;
  }

  .contact-strip-wrap {
    flex-direction: column;
    gap: clamp(8px, 0.7812vw, 11.25px);
  }

  .hotel-intro__media {
    width: 100% !important;
    order: -1 !important;
  }
  .hotel-intro-bottom .hotel-intro__media {
    order: 2 !important;
  }
  .hotel-intro__wrapper {
    gap: clamp(45px, 4.3945vw, 63.2812px);
  }

  .brand-showcase__images {
    grid-template-columns: 1fr;
  }

  .storefront-showcase__caption {
    /* bottom: clamp(18px, 1.7578vw, 25.3125px); */
  }

  .storefront-showcase__caption p {
    font-size: clamp(16px, 1.5625vw, 22.5px);
    line-height: normal;
  }

  .newsletter-signup__title {
    font-size: clamp(32px, 3.125vw, 45px);
    line-height: normal;
  }

  .newsletter-signup__field {
    width: 100%;
  }

  .site-footer__nav ul {
    /* gap: 0 clamp(12px, 1.1719vw, 16.875px); */
  }

  .site-footer__nav {
    /* margin-bottom: clamp(18px, 1.7578vw, 25.3125px); */
  }

  .site-header__logo {
    max-width: clamp(120px, 11.7188vw, 168.75px);
  }

  .site-nav {
    height: calc(100dvh - clamp(91.63px, 8.9482vw, 128.8547px));
  }
}

/* New Footer */
.site-footer__row {
  display: grid;
  grid-template-columns: 0.3fr auto 0.4fr;
  margin-bottom: clamp(25px, 2.4414vw, 35.1562px);
  gap: clamp(50px, 4.8828vw, 70.3125px);
}
.site-footer__brand {
}
.site-footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(12px, 1.1719vw, 16.875px);
  position: relative;
}
.site-footer__menu::after,
.site-footer__menu::before {
  position: absolute;
  content: "";
  height: clamp(100px, 9.7656vw, 140.625px);
  width: clamp(1px, 0.0977vw, 1.4062px);
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.site-footer__menu::after {
  right: clamp(-35.1562px, -2.4414vw, -25px);
}
.site-footer__menu::before {
  left: clamp(-35.1562px, -2.4414vw, -25px);
}
.site-footer__wrap-menu {
  margin: clamp(10px, 0.9766vw, 14.0625px) 0 0;
}
.site-footer__about {
}
.site-footer__brand .site-header__logo {
  justify-content: center;
  align-items: flex-start;
  width: clamp(112px, 10.9375vw, 157.5px);
}
.site-footer__phone {
  font-size: clamp(14px, 1.3672vw, 19.6875px);
  letter-spacing: 0;
  line-height: clamp(30px, 2.9297vw, 42.1875px);
  color: var(--yellow-color);
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}
.site-footer__nav-heading {
  font-size: clamp(14px, 1.3672vw, 19.6875px);
  letter-spacing: 0;
  line-height: clamp(30px, 2.9297vw, 42.1875px);
  color: var(--yellow-color);
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
}
.site-footer__bottom .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(30px, 2.9297vw, 42.1875px);
}
.site-footer__bottom p,
.site-footer__bottom a,
.site-footer__bottom span {
  margin-bottom: 0;
  color: #fff;
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}
.site-footer__bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(18px, 1.7578vw, 25.3125px);
}
.site-footer__about-text {
  color: #fff;
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Roboto";
  max-width: clamp(248px, 24.2188vw, 348.75px);
}
.site-footer__about-highlight {
  color: var(--yellow-color);
  font-size: clamp(12px, 1.1719vw, 16.875px);
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: 700;
  font-family: "Roboto";
}
.site-footer__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .site-footer {
    background-size: 11%;
    background-position: right 1.95vw bottom 1.95vw;
  }
  .site-footer__row {
    display: grid;
    grid-template-columns: 0.3fr auto 0.6fr;
  }
}
@media (max-width: 1023px) {
  .site-footer {
    background-size: 11%;
    background-position: right 1.95vw bottom 1.95vw;
  }
  .site-footer__row {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(20px, 1.9531vw, 28.125px);
  }
  .site-footer__menu::after,
  .site-footer__menu::before {
    display: none;
  }
  .site-footer__brand {
    width: 100%;
  }
  .site-footer__menu {
    flex: 1 0 0;
  }
  .newsletter-signup__box {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .site-footer__menu {
    grid-template-columns: 1fr;
  }
  .site-footer__bottom .container {
    flex-wrap: wrap;
    gap: clamp(10px, 0.9766vw, 14.0625px);
  }
  .site-footer__brand {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-footer__address {
    margin-top: clamp(8px, 0.7812vw, 11.25px);
  }
  .site-footer__brand .site-header__logo {
    justify-content: center;
  }
  .site-footer__menu {
    flex: auto;
    width: 100%;
  }.site-footer__about-text{
    max-width: 100%;
  }
}