/*=======================
        General 
=======================*/
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-weight: 400;
  font-size: clamp(12px, 1.37vw, 19.728px);
  font-family: "Roboto";
}

body {
  background-color: #ffffff;
  font-family: "Roboto";
  color: #000000;
}

p {
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  margin: 0 0 1.56vw;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.33;
  font-family: "Perpetua";
}

h1 {
  font-size: clamp(12px, 5.27vw, 75.888px);
}

h2 {
  font-size: clamp(12px, 3.52vw, 50.688px);
}

h3 {
  font-size: clamp(12px, 3.52vw, 50.688px);
}

h4 {
  font-size: clamp(12px, 1.76vw, 25.344px);
}

h5 {
  font-size: clamp(12px, 1.56vw, 22.464px);
}

h6 {
  font-size: clamp(12px, 1.37vw, 19.728px);
}

a:hover {
  text-decoration: none;
}

a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

/*=======================
       Page Layout
=======================*/
.container {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0 20px;
}

.container-header {
   max-width: 1480px;
}
:root {
  --primary-color: #9acad3;
  --primary-font: "Roboto";
  --title-font: "Perpetua";
  --yellow-color: #c2753d;
}
@media (max-width: 1200px) {
 


}

.btn {
  display: inline-block;
  font-size: clamp(12px, 1.56vw, 22.464px);
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.63vw 1.17vw;
  border-radius: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn--primary {
  background: #000;
  color: #ffffff;
}
.btn:hover {
  background: #363535;
}
.hidden {
  display: none !important;
}

@media (min-width: 1024px) {
  .hide-pc-header {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-pc {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide-mb {
    display: none !important;
  }
}